# Byte-compiled files
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Media files
media/

# Virtual environment
venv/
env/

# Environment variables
.env

# Static files
staticfiles/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store